#spyder project settings
.~*
.spyderproject
.spyproject
.spyproject*
.spyproject/config/*
.spyproject/config/backups/workspace.ini.bak
.spyproject\
blog
adh_proper*
#outputs/ckan/*long.csv
outputs/ckan/bk
